<div>
  <label>Researche par nom</label>
  <input type='text' #saisie1>
  <button (click)="researchParNom(saisie1.value)">Researche</button>
  <div>
    <div *ngIf="research && research.length > 0">
      <label value="saisie1.value"> </label>
      <ul *ngFor="let matricule of research">
        <li><a href=# (click)="recupererCollegueCourant(matricule)">{{matricule}}</a></li>
      </ul>
    </div>
    <div>
      <div *ngIf="research && research.length === 0">

        <div class="alert alert-danger">
          <p>the name does not exist</p>
        </div>

      </div>
    </div>
  </div>
</div>