<div>
  <label>Researche par nom</label>
  <input type='text' #saisie1>
  <button [hidden]="!listExists"(click)="researchParNom(saisie1.value)" (click)="listExists=!listExists">Researche</button>
  <div>
  <div *ngIf="!listExists; else doesNot">
    <label value="saisie1.value"> </label>
    <ul *ngFor="let matricule of research" >
   <li>{{matricule}}</li> 
  </ul>
  </div>

  <ng-template #doesNot>
      <div>
        <p>the number does not exist</p>
      </div>
    </ng-template>
  </div>
</div>
