    <nav class="btn-group btn-group-toggle" data-toggle="buttons">
    <div class="container-fluid">
            <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><button type="button" class="btn btn-primary"  routerLink="/accueil">Accueil</button></li>
            <li class="nav-item"><button type="button" class="btn btn-primary"  routerLink="/gallerie">Gallerie</button></li>
            <li class="nav-item"><button type="button" class="btn btn-primary" (click)= "deconnexion()" routerLink="/login">deconnexion</button></li>
            <!-- <li class="nav-item"><a class="nav-link" routerLink="/aprospos">A Prospos</a></li> -->
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
